/* global styles */
:root {
    --blue: #2092ed;
    --indigo: #6610f2;
    --purple: #8c43dd;
    --pink: #e83e8c;
    --red: #dd3d31;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dd3d31;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #8c43dd;
    --warning: #ffc107;
    --danger: #dd3d31;
    --light: #f8f9fa;
    --dark: #212529;
    --theme: #dd3d31;
    --template: #2092ed;
    --snippet: #ffc107;
    --guide: #28a745;
    --twitter: #1da1f2;
    --github: #333;
    --facebook: #3b5998;
    --twitch: #6441A4;
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {overflow-x: hidden}

.upper { text-transform: uppercase }

/* start header */
header {
    background-image: url(../img/header.jpg);
    color: papayawhip;
    background-size: 100% 100%;
}

header .layer {background-color: rgba(0, 0, 0, 0.7);}
.container { margin: 0 15px }

header .cont-border { border-bottom: 1px solid white }
header .contacts { display: flex; justify-content: flex-start }

header .contacts .social-icons,
header .contacts .mob-tel,
header .contacts .e-mail { padding: 10px 20px 10px 20px; color: rgba(255,255,255,0.7) }

header .contacts .mob-tel,
header .contacts .e-mail { border-right: 1px solid white }

header .contacts .social-icons { border-left: 1px solid white; margin-left: auto }

header .contacts .social-icons i { padding: 0 5px }

header .nav-bar-sec { padding: 20px }

header .nav-bar-sec .cont { display: flex; align-items: center }

header .main-logo {
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 20px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav li {
    text-decoration: none;
    display:block;
    padding: 5px 15px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    margin:0;
    font-family:sans-serif;
}

nav li.home { border: 1px solid white }

header .cont .nav-left {
    margin-left: auto;
    display: flex;
    align-items: center;
}

header .cont .nav-left div { padding-left: 25px }

header .cont .nav-left div:first-child { padding-left: 0 }

header .nav-bar-sec .nav-left .lang .lang-sel{ text-transform: uppercase }


header .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 10px;
}

header .main-header .main-cont { text-align: center }
header .main-header .main-cont h1 { text-transform: uppercase; font-family: Arial, Helvetica, sans-serif }

header .main-header .main-cont p { 
    padding: 20px 0;
    width: 60%;
    margin: auto;
    color: rgba(255,255,255,0.7); 
}

header .main-header .main-cont .view-more {
    padding: 10px 20px;
    background-color: var(--yellow);
    border-color: transparent;
    border-radius: 30px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(255,255,255,0.5);
}

/***** start projects sec ****/

.latest-projects { text-align: center; margin: 75px  }

.latest-projects .container h4 {
    color: #777;
    font-style: italic;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.latest-projects .container h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: 2rem;
}

.latest-projects .breaker {
    width: 10%;
    margin: auto;
    margin-top: 1.5rem;
}

.latest-projects .container .sec-content {
    width: 60%;
    margin: 35px auto;
    color: rgba(0,0,0,0.7);
}

.latest-projects .container .projects {
    display: flex;
    justify-content: space-between;
}

.latest-projects .container .projects img { border-radius: 50%; margin-bottom: 10px }

.latest-projects .container .projects .proj-title {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.latest-projects .container .projects .proj-dec { color: #777; text-transform: capitalize }

/*** start skills sec **/ 
.skills {
    background-image: url(../img/garden-xl.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.skills .layer{
    background-color: rgba(0, 0, 0, 0.7);

}

.skills .skills-cont {
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.skills .skills-cont div { width: 33.3333%; padding-top: 50px }

.skills .skills-cont div i { color: var(--warning); font-size: 1.5em }

.skills-cont div h3 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: sans-serif;
}

.skills-cont div p {padding: 0 30px 50px; color: rgba(255,255,255,0.75)}

.skills-cont div.border-bot {border-bottom: 1px solid white}

.skills-cont div.border-right {border-right: 1px solid white}

/**** us diff section ****/

.us-diff {display: flex;}

.us-diff .diff-img {
    background-image: url(../img/us-diff.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.us-diff  .diff-info {
    width: 50%;
    text-align: center;
    padding: 75px;
}

.us-diff .diff-info .diff-qua {
    font-style: italic;
    text-transform: capitalize;
    color: #777;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.us-diff .diff-info .diff-title {
    text-transform: uppercase;
    padding: 15px 10px;
    font-size: 30px;
}

.us-diff .breaker {
    width: 40%;
    margin: auto;
}

.us-diff .diff-info .diff-para { padding: 20px 10px 30px; color:rgba(0,0,0,0.5) }

.us-diff .diff-info .diff-imgs { display: flex; justify-content: space-evenly }

.us-diff .diff-imgs img {
    width: 200px;
    height: 200px;
}

/**** start about us section **/

.about-us .about-cont { display: flex; text-align: center }

.about-us .about-cont .build-sky { padding: 70px 20px; position: relative }

.about-cont div.layer {
    background-color: rgba(88, 88, 56, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-us .about-cont div i {
    color: gold;
    font-size: 25px;
    margin-bottom: 15px;
}

.about-us .about-cont .build-sky .build-title {
    text-transform: uppercase;
    color: #333;
    margin: 20px ;
}

.about-us .about-cont .build-sky .build-para { margin-bottom: 30px }

/*** start start-proj section **/ 

.start-project .start-proj-cont { padding: 50px; text-align: center }

.start-project .start-proj-cont .products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.start-proj-cont .products img { border-radius: 50% }

.start-project .start-proj-cont .proj .start-title { text-transform: uppercase; font-size: 2em }

.proj .start-para {
    margin: 20px 0;
    font-style: italic;
    color: #333;
}

.proj .start-btn {
    padding: 10px 20px;
    background-color: yellow;
    border-color: transparent;
    border-radius: 30px;
    margin-top: 10px;
    border: 2px solid transparent;
    margin-bottom: 30px;
}

/** start footer **/

footer { background-color: teal }

footer .foot-cont {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

footer .foot-cont > div { width: 23% }

footer .foot-cont .contact div.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

footer .foot-cont .bord-bot { border-bottom: 1px solid black }

footer .foot-cont .pad-top { padding-top: 10px }

footer .foot-cont .first { padding-bottom: 20px; padding-top: 0px }

footer .foot-cont .contact div > p { width: 60% }

footer .foot-cont .contact div > span { text-transform: capitalize; color: white }
footer .foot-cont .contact .follow > :last-child {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

footer .foot-cont .photos .ph-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .foot-cont .recent .rec-cont {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

footer .foot-cont .news-sign input {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: #777;
    border-style: none;
}

footer .foot-cont .news-sign button {
    width: 100%;
    padding: 10px;
    border-color: #777;
    background-color: transparent;
    text-transform: uppercase;
    border-style: solid;
}