/* global styles */
:root {
    --blue: #2092ed;
    --indigo: #6610f2;
    --purple: #8c43dd;
    --pink: #e83e8c;
    --red: #dd3d31;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dd3d31;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #8c43dd;
    --warning: #ffc107;
    --danger: #dd3d31;
    --light: #f8f9fa;
    --dark: #212529;
    --theme: #dd3d31;
    --template: #2092ed;
    --snippet: #ffc107;
    --guide: #28a745;
    --twitter: #1da1f2;
    --github: #333;
    --facebook: #3b5998;
    --twitch: #6441A4;
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {overflow-x: hidden}

.upper { text-transform: uppercase }

.flex {
    display: flex;
    align-items: center;
}

/* start header */
header {
    background-image: url(../img/header.jpg);
    color: papayawhip;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    overflow: hidden;
}

header .layer {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    height: 100%;
}
.container { margin: 0 15px }

header .cont-border { border-bottom: 1px solid white }
header .contacts { display: flex; justify-content: flex-start }

header .contacts .social-icons,
header .contacts .mob-tel,
header .contacts .e-mail { padding: 10px 20px 10px 20px; color: rgba(255,255,255,0.7) }

header .contacts .mob-tel,
header .contacts .e-mail { border-right: 1px solid white }

header .contacts .social-icons { border-left: 1px solid white; margin-left: auto }

header .contacts .social-icons i { padding: 0 5px }

header .nav-bar-sec { padding: 20px }

header .nav-bar-sec .cont { display: flex; align-items: center }

header .main-logo {
    font-weight: bold;
    font-size: 30px;
    padding-right: 20px;
}
header .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: inline-block;
}
nav li {
    text-decoration: none;
    display:inline-block;
    padding: 5px 15px;
    text-align: center;
    margin:0;
    font-family:sans-serif;
}

.list li a {
    color: rgba(255,255,255,0.5);
}

nav li.home { border: 1px solid white }

header .cont .nav-left {
    margin-left: auto;
    display: flex;
    align-items: center;
}

header .cont .nav-left div { padding-left: 25px }

header .cont .nav-left div:first-child { padding-left: 0 }

header .nav-bar-sec .nav-left .lang .lang-sel{ text-transform: uppercase }


#check,.checkbtn,.closebtn{
    display: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 10px;
}

header .main-header .main-cont { text-align: center }
header .main-header .main-cont h1 { text-transform: uppercase; font-family: Arial, Helvetica, sans-serif }

.main-cont p { 
    padding: 20px 0;
    width: 60%;
    margin: auto;
    color: rgba(255,255,255,0.7); 
}

header .main-header .main-cont .view-more {
    padding: 10px 20px;
    background-color: var(--yellow);
    border-color: transparent;
    border-radius: 30px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(255,255,255,0.5);
}

@media (max-width: 1080px){
    ul {
        position: fixed;
        width: 30%;
        height: 100vh;
        min-height: 400px;
        right: -100%;
        background: #2c3e50;
        top: 0;
        text-align: center;
        transition: all .5s;
    }
    .checkbtn {
        display: block;
        margin-left: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    #check:checked ~ ul {
        right: 0;
    }
    nav li {
        display: block;
        width: fit-content;
        margin: 50px auto;
    }
    .closebtn {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.4em;
        display: block;
        cursor: pointer;
    }
    header {
        min-height: 550px;
    }
    .main-header {
        padding: 75px 30px;
    }
    .main-cont p {
        width: 75%;
    }
}


/***** start projects sec ****/

.latest-projects { text-align: center; margin: 75px  }

.latest-projects .container h4 {
    color: #777;
    font-style: italic;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.latest-projects .container h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: 2rem;
}

.latest-projects .breaker {
    width: 10%;
    margin: auto;
    margin-top: 1.5rem;
}

.latest-projects .container .sec-content {
    width: 60%;
    margin: 35px auto;
    color: rgba(0,0,0,0.7);
}

.latest-projects .container .projects {
    display: flex;
    justify-content: space-between;
}

.latest-projects .container .projects img { border-radius: 50%; margin-bottom: 10px }

.latest-projects .container .projects .proj-title {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.latest-projects .container .projects .proj-dec { color: #777; text-transform: capitalize }

/*** start skills sec **/ 
.skills {
    background-image: url(../img/garden-xl.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.skills .layer{
    background-color: rgba(0, 0, 0, 0.7);

}

.skills .skills-cont {
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.skills .skills-cont div { width: 33.3333%; padding-top: 50px }

.skills .skills-cont div i { color: var(--warning); font-size: 1.5em }

.skills-cont div h3 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: sans-serif;
}

.skills-cont div p {padding: 0 30px 50px; color: rgba(255,255,255,0.75)}

.skills-cont div.border-bot {border-bottom: 1px solid white}

.skills-cont div.border-right {border-right: 1px solid white}

/**** us diff section ****/

.us-diff {display: flex;}

.us-diff .diff-img {
    background-image: url(../img/us-diff.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.us-diff  .diff-info {
    width: 50%;
    text-align: center;
    padding: 75px;
}

.us-diff .diff-info .diff-qua {
    font-style: italic;
    text-transform: capitalize;
    color: #777;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.us-diff .diff-info .diff-title {
    text-transform: uppercase;
    padding: 15px 10px;
    font-size: 30px;
}

.us-diff .breaker {
    width: 40%;
    margin: auto;
}

.us-diff .diff-info .diff-para { padding: 20px 10px 30px; color:rgba(0,0,0,0.5) }

.us-diff .diff-info .diff-imgs { display: flex; justify-content: space-evenly }

.us-diff .diff-imgs img {
    width: 200px;
    height: 200px;
}

/**** start about us section **/
.about-us .layer {background-color: rgba(0, 0, 0, 0.7); padding: 6rem 3rem;}

.about-us .about-cont { display: flex; text-align: center }

.about-us .about1 { background-image: url(../img/about1.jpg) }

.about-us .about2 { background-image: url(../img/about2.jpg) }

.about-us .about3 {
    background-image: url(../img/about3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-us .about-cont div i { color: rgba(250,215,0,0.75); font-size: 25px; }

.about-us .about-cont .build-sky .build-title {
    text-transform: uppercase;
    color: white;
    margin: 20px ;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us .about-cont .build-sky .build-para { color: rgba(255,255,255,0.7) }

/*** start start-proj section **/ 

.start-project .start-proj-cont { padding: 50px; text-align: center }

.start-project .start-proj-cont .products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.start-proj-cont .products img { border-radius: 50% }

.start-project .start-proj-cont .proj .start-title { text-transform: uppercase; font-size: 2em }

.proj .start-para {
    margin: 20px 0;
    font-style: italic;
    color: #333;
}

.proj .start-btn {
    padding: 10px 20px;
    background-color: var(--yellow);
    border-color: transparent;
    border-radius: 30px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(255,255,255,0.75);
}

/** start footer **/

.dark-white {
    color: rgba(255,255,255,0.5);
}

footer { background-color: rgba(15, 14, 19, 0.85) }

footer .foot-cont {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

footer .foot-cont > div { width: 23% }

footer .foot-cont .contact div.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: rgba(255,255,255,0.5);
}

footer .foot-cont .bord-bot { border-bottom: 1px solid rgba(143, 142, 146, 0.3) }

footer .foot-cont .pad-top { padding-top: 10px }

footer .foot-cont .first { padding-bottom: 20px; padding-top: 0px }

footer .foot-cont .contact div > p { width: 60% }

footer .foot-cont .contact div > span { text-transform: capitalize; color: rgba(255,255,255,0.9) }
footer .foot-cont .contact .follow > :last-child {
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: rgba(255,255,255,0.75);
}

footer .foot-cont .photos .ph-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .foot-cont .recent .rec-cont {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.rec-cont h5 {
    color: rgba(255,255,255,0.75);
    margin-bottom: 0.3rem;
}

.news-sign p {
    color: rgba(255,255,255,0.75);
}

footer .foot-cont .news-sign input {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(143, 142, 146, 0.3);
    border-style: none;
}

footer .foot-cont .news-sign button {
    width: 100%;
    padding: 10px;
    color: rgba(255,255,255,0.5);
    background-color: transparent;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(255,255,255,0.5);
}